# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

migrations
node_modules
dist
dist-ssr
*.local

# Editor directories and files
venv/
.vscode/*
.env
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*git
*.njsproj
*.sln
*.sw?
