
FLASK_APP=app:create_app
FLASK_ENV=development

SQLALCHEMY_DATABASE_URI=mysql+pymysql://root:clave@localhost:puerto/eventos_db
SQLALCHEMY_TRACK_MODIFICATIONS=False
JWT_SECRET_KEY=change-me
PASSWORD_RESET_PEPPER=change-me-too
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASS=super-secret
SMTP_FROM=no-reply@example.com
